#footer {
  background: #191919;
  padding: 30px 15px;

  span {
    font-weight: 700;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }
}

.all_rest {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;

  @media (min-width: 750px) {
    display: block;
  }
}
