#footer {
  background: #191919;
  padding: 30px 15px;

  span {
    font-weight: 700;
    color: #fff;
    font-family: Arial;
  }
}

.all_rest {
  position: fixed;
  top: 50vh;
  right: 0;
  transform: translateY(-50%);
  display: none;

  @media (min-width: 750px) {
    display: block;
  }
}
