#main {
  position: relative;
  background: url('images/menu_text.jpg');

  picture:not(.slogan) {
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom_link {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 750px) {
      bottom: 25px;
    }
  }
}
