#map {
  height: 590px;
  background: url('images/map.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  h2 {
    font-family: 'PT Serif', sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
  }

  .adress {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;

    p,
    .num {
      font-weight: 700;
      font-family: Arial;
      font-size: 17px;
      color: #fff;
      line-height: 30px;
    }

    .mail {
      color: #1caaeb;
      font-size: 17px;
    }
  }
}
