section#map
  a(name="contact")
  h2 Наши контанты
  .adress
    p!="Астана, проспект Туран, 30 (здание Fitness Palace) <br> Режим работы: ежедневно 12:00-01:00, без выходных"
    .num +7 7172 56 77 11, +7 702 888 11 59
    a(href="mailto:brewery_astana@mail.ru").mail brewery_astana@mail.ru
