case process.env.NODE_ENV
  when 'ru'
    - var header = 'Наши контакты'
    - var adress = 'Астана, проспект Туран, 30 (здание Fitness Palace)<br>Режим работы: 12:00-01:00, без выходных'
  when 'eng'
    - var header = 'Our contacts'
    - var adress = 'Astana, 30 Turan avenue (Fitness Palace building)<br>Working hours: daily 12:00-01:00, 7 days a week'
  when 'kz'
    - var header = 'Мейрамхана туралы'
    - var adress = 'Астана, Тұран даңғылы, 30 (Fitness Palace ғимараты)<br>Жұмыс кестесі: 12:00-01:00, демалыссыз'

section#map
  a(name="contact")
  h2 #{header}
  .adress
    p !{adress}
    .num +7 7172 56 77 11, +7 702 888 11 59
    a(href="#").feed_open_fc.mail brewery_astana@mail.ru
