section#menu_rest
  a(name="menu")
  .container
    h2 Меню
    .sl_menu
      .slide
        img(src="images/dishes/1.jpg")
        h3 Ванильный мусс
      .slide
        img(src="images/dishes/2.jpg")
        h3 Медальоны из телятины
      .slide
        img(src="images/dishes/3.jpg")
        h3 салат Гравлакс
      .slide
        img(src="images/dishes/4.jpg")
        h3 Салат c угрем
      .slide
        img(src="images/dishes/5.jpg")
        h3 Филе конины
      .slide
        img(src="images/dishes/6.jpg")
        h3 Филе лосося
